@font-face {
    font-family: 'Vibes';
    src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "Baskerville";
    src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background: url(../img/bg-wood.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #3B2F2F;
  font-family: 'Baskerville';
}

h1 {
  font-family: 'Vibes', cursive;
  text-align: center;
  font-size: 7rem;
  color: #8B1E3F;
  text-shadow: 1px 1px #C9B037;
  margin-top: 4rem;
}

/* NAVBAR  */
.navbar {
    background: linear-gradient(to right, #2C2C54, #3B2F2F);
    border-bottom: 4px solid #C9B037;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    font-family: 'Baskerville';
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #C9B037;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    padding: 0.2rem 0.5rem;
    transition: color 0.3s ease;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #C9B037;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    color: #F8F1E7;
}

.navbar a:hover::after {
    transform: scaleX(1);
}